{% extends 'base.html' %}
{% block titulo %}
agregar empleado
{% endblock %}
{% block body %}
{% include 'includes/head.html' %}
<div class="grid-container">
<div class="grid-x">
    <h1 class="cell">
        Registrar empleado
    </h1>
    <form class="cell grid-x grid-margin-x" method="POST">
    {% csrf_token %}
        <div class="medium-6 cell">
            <label>Nombres
                {{ form.first_name }}
            </label>
        </div>
        <div class="medium-6 cell">
            <label>apellidos
                {{ form.last_name }}
            </label>
        </div>
        <div class="medium-6 cell">
            <label>trabajo
                {{ form.job }}
            </label>
        </div>
        <div class="medium-6 cell">
            <label>departamento
                {{ form.depa }}
            </label>
        </div>
        <div class="medium-6 cell">
            <label>habilidades
                {{ form.habilidades }}
            </label>
        </div>
        <div class="medium-6 cell">
            <button type="submit" class="success button">Crear</button>
        </div>




</form>
</div>
</div>

{% endblock %}



