{% extends 'base.html' %}
{% load static %}


{% block titulo %}
pag de inicio
{% endblock %}

{% block body %}
    {% include 'includes/head.html' %}
    <h1>pagina de inicio</h1>
    <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
  <div class="orbit-wrapper">
    <div class="orbit-controls">
      <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
      <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
    </div>
    <ul class="orbit-container">
      <li class="is-active orbit-slide">
        <figure class="orbit-figure">
          <img class="orbit-image" src="{% static 'ultima/logo.jpg' %}" alt="Space">
          <figcaption class="orbit-caption">Space, the final frontier.</figcaption>
        </figure>
      </li>
      <li class="orbit-slide">
        <figure class="orbit-figure">
          <img class="orbit-image" src="{% static 'ultima/logo.jpg' %}" alt="Space">
          <figcaption class="orbit-caption">Lets Rocket!</figcaption>
        </figure>
      </li>

    </ul>
  </div>
</div>
{#    fin de portada#}
<div class="grid-x align-center">
    <h1 class="cell large-8" style="font-size: 25px; text-align: center">Bienvenida al sistema de registro de empleados</h1>
    <div class="cell large-7">
        <div class="callout success">
            <h5>registro y control de empleados</h5>
            <p>{% lorem %}</p>
            <a href="#">Ver empleados</a>
        </div>
    </div>


</div>
{% endblock %}